.paisaje {
  width: 100%;
  height: 800px;
}/*# sourceMappingURL=style.css.map */

.error{
  color:darkred; 
}
.contactanos{
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}
#NuestroPersonal{
  text-align: center;
}

.nav-pagina-principal{
  height: 60px;
}

#resumen {
  display: none;
}

#summary {
  border: 1px solid #ccc;
  padding: 10px;
}


.red-socialP a{
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 45px;
  line-height: 40px;
  color: #0d2033;
  background-color: #fff;
  text-align: center;
  transition: all 300ms ease;
}

.red-socialP a:hover {
  color: aqua;
}
